 @import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

 :root {
     --darkMainBg: #00001C;
     --darkSecBg: #053C5E;
     --darkMainText: #f5f5f5;
     --darkHighlight: #DB222A;

     --lightMainBg: #f5f5f5;
     --lightSecText: #053C5E;
     --lightMainText: #00001C;
     --lightHighlight: #DB222A;
 }

 body {
     width: 100vw;
     min-height: 100vh;
     font-family: 'Sansation', sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     transition: all ease-in-out .75s;
     overflow-x: hidden;
 }

 .light {
     background: var(--lightMainBg);
     color: var(--lightMainText);
 }

 .dark {
     background: var(--darkMainBg);
     color: var(--darkMainText);
 }

 .loader {
     width: 100vw;
     height: 100vh;
     position: absolute;
     display: flex;
     justify-content: center;
     align-items: center;
     background: rgba(0, 0, 0, 0.75);
     backdrop-filter: blur(15px);
 }

 .load {
     width: 50px;
     height: 50px;
     border: 5px solid var(--darkHighlight);
     border-radius: 50%;
     border-top-color: transparent;
     animation: spin 1s linear infinite;
 }

 @keyframes spin {
     0% {
         transform: rotate(0deg);
     }

     100% {
         transform: rotate(360deg);
     }
 }

 .material-symbols-outlined {
     font-variation-settings:
         'FILL' 0,
         'wght' 400,
         'GRAD' 0,
         'opsz' 24
 }